
:root{
    --background_colour: #fafbfd;
    --primary_colour: #182536;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

[data-testid="stMainBlockContainer"]{
    background-color: var(--background_colour);
    padding-top: 80px;
    /* background-image: "assets/logo.jpeg";
    background-size: cover; */
}

[data-testid="stHeader"]{
    background-color: rgba(0,0,0,0); /* make header background transparent*/
}

[data-testid="stSidebarContent"]{
    background-color: var(--primary_colour);
    font-size: .2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[data-testid="stSidebarNavItems"] span {
    color: white;
}

[data-testid="stHeadingWithActionElements"]{
    color: var(--primary_colour);
    /* font-family: "Noto Sans Mono", serif;
    font-optical-sizing: auto;
    font-style: normal; */
    
}
.stLogo{
    margin-bottom:1rem;
    /* margin-top: 8rem; */
}

[data-baseweb="tab"]{
    background-color: var(--primary_colour);
    padding: 12px;
    color: white;
    font-weight: 500;   
}

[data-baseweb="tab-list"]{
    gap: .3rem;
}

[data-testid="stVerticalBlockBorderWrapper"] .st-emotion-cache-4uzi61{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--background_colour);
}

.stPlotlyChart{
    background-color: var(--background_colour);
}

[data-testid="stSidebarHeader"] > img{
    height: 6rem;
    width: auto;
}

div[data-testid="stSidebarHeader"], div[data-testid="stSidebarHeader"] > *,
  div[data-testid="collapsedControl"], div[data-testid="collapsedControl"] > * {
      display: flex;
      align-items: center;
  }